<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= resturant.name %></title>
</head>
<body>
    <h1><%= resturant.name %></h1>
    <p><%= resturant.address %></p>
    <p><%= resturant.phone %></p>

    <% if (resturant.isOpen) { %>
        <p>Yes we are open!</p>
    <% }  else { %>
        <p>Sorry, we are closed.</p>
    <% } %>
</body>
</html>
